.logo {
	&__text {
		-webkit-background-image: url(../../assets/images/logos/logo_text.svg);
		background-image: url(../../assets/images/logos/logo_text.svg);
		height: 50px;
		width: 110px;
	}

	&__icon {
		-webkit-background-image: url(../../assets/images/logos/logo_icon.svg);
		background-image: url(../../assets/images/logos/logo_icon.svg);
		height: 50px;
		width: 50px;
	}
}
