<div class="m-3">
	<p-panel [header]="'USER_PROFILE.HEADER' | translate">
		<div *ngIf="userForm" [formGroup]="userForm" class="flex flex-column">
			<div class="flex flex-row flex-wrap m-1 gap-1">
				<p-button
					pRipple
					[styleClass]="userForm.disabled ? '' : 'p-button-danger'"
					[label]="
						(userForm.disabled ? 'USER_PROFILE.EDIT' : 'USER_PROFILE.CANCEL')
							| translate
					"
					(click)="onEditClick()"
				></p-button>
				<p-button
					pRipple
					*ngIf="!userForm.disabled"
					styleClass="p-button-success"
					label="{{ 'USER_PROFILE.SAVE' | translate }}"
					(click)="onSaveClick()"
				></p-button>
			</div>

			<div class="flex flex-row flex-wrap m-1 gap-3">
				<div class="flex flex-row gap-1 align-items-center">
					<label for="firstName"
						>{{ 'USER_PROFILE.FIRSTNAME' | translate }}
					</label>
					<input
						id="firstName"
						type="text"
						pInputText
						formControlName="firstName"
					/>
				</div>
				<div class="flex flex-row gap-1 align-items-center">
					<label for="lastName">
						{{ 'USER_PROFILE.LASTNAME' | translate }}
					</label>
					<input
						id="lastName"
						type="text"
						pInputText
						formControlName="lastName"
					/>
				</div>
			</div>

			<div class="flex flex-row flex-wrap m-1 gap-3">
				<div class="flex flex-row gap-1 align-items-center">
					<label for="email">{{ 'USER_PROFILE.EMAIL' | translate }} </label>
					<input id="email" type="text" pInputText formControlName="email" />
				</div>
				<div class="flex flex-row gap-1 align-items-center">
					<label for="phone">{{ 'USER_PROFILE.PHONE' | translate }} </label>
					<input id="phone" type="text" pInputText formControlName="phone" />
				</div>
			</div>

			<div class="flex flex-row flex-wrap m-1 gap-3">
				<div class="flex flex-row gap-1 align-items-center">
					<label for="role">{{ 'USER_PROFILE.ROLE' | translate }} </label>
					<input id="role" type="text" pInputText formControlName="role" />
				</div>
				<div class="flex flex-row gap-1 align-items-center">
					<label for="status" for="firstName"
						>{{ 'USER_PROFILE.STATUS' | translate }}
					</label>
					<p-dropdown
						id="status"
						[options]="statuses"
						optionLabel="name"
						optionValue="key"
						placeholder="Select a status"
						formControlName="status"
					></p-dropdown>
				</div>
			</div>
		</div>
	</p-panel>
</div>
