<div class="m-3">
	<p-panel [header]="'Tickets'">
		<p-table
			[columns]="columns"
			[value]="dataSource"
			styleClass="p-datatable-striped"
			responsiveLayout="scroll"
			sortMode="multiple"
			[paginator]="true"
			[rows]="10"
			[showCurrentPageReport]="true"
			responsiveLayout="scroll"
		>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">
						{{ col.header | translate }}
						<p-sortIcon [field]="col.field"></p-sortIcon>
					</th>
					<th>
						{{ 'TABLE.SHOW' | translate }}
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-columns="columns">
				<tr>
					<td *ngFor="let col of columns">
						{{ rowData[col.field] | translate }}
					</td>
					<td>
						<p-button
							icon="pi pi-eye"
							styleClass="p-button-sm"
							pTooltip="{{ 'TABLE.SHOW' | translate }}"
							tooltipPosition="bottom"
							(onClick)="showData(rowData.id)"
						></p-button>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</p-panel>
</div>
