<div class="login__wrapper">
	<div class="login__box">
		<h1 class="login__logo">Solu</h1>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
			<div class="login__control">
				<label for="email">Email: </label>
				<input pInputText id="email" type="email" formControlName="email" />
			</div>
			<div class="login__control">
				<label for="password">Password: </label>
				<input
					pInputText
					id="password"
					type="password"
					formControlName="password"
				/>
			</div>
			<div class="login__control--checkbox">
				<p-checkbox
					id="rememberMe"
					formControlName="rememberMe"
					[binary]="true"
				></p-checkbox>
				<label for="rememberMe">Remember me</label>
			</div>
			<button
				pButton
				type="submit"
				label="Log In"
				[disabled]="!loginForm.valid"
			></button>
		</form>
	</div>
</div>
