@use 'src/assets/scss/colors';
@use 'src/assets/scss/variables';

.login {
	&__wrapper {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background: url(../../assets/images/backgrounds/login_lg.svg) center
			no-repeat colors.$BLUE_DARK_PRIMARY;
	}

	&__box {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: 400px;
		min-height: 400px;
		padding: variables.$SPACING_LARGE variables.$SPACING_X_LARGE;
		background-color: colors.$WHITE;
		border-radius: 2px;
	}

	&__logo {
		margin: variables.$SPACING_MEDIUM 0;
	}

	&__form {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		gap: variables.$SPACING_SMALL;
	}

	&__control {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: variables.$SPACING_SMALL;
		gap: variables.$SPACING_SMALL;

		&--checkbox {
			display: flex;
			flex-flow: row nowrap;
			gap: variables.$SPACING_SMALL;
			margin-bottom: variables.$SPACING_SMALL;
		}
	}
}
